language: go
go:
  - 1.2
  - tip
install:
  - go get -v ./...
  - go get -v github.com/onsi/ginkgo
  - go get -v github.com/onsi/gomega
  - go get -v golang.org/x/tools/cmd/cover
  - go install -v github.com/onsi/ginkgo/ginkgo

after_success:
  - go get -v code.google.com/p/go.tools/cmd/cover
  - go get -v github.com/axw/gocov/gocov
  - go get -v github.com/mattn/goveralls
  - export PATH=$PATH:$HOME/gopath/bin/
  - goveralls nBDcRxYTbtu6tjcj8fknzcZOgSkxb9VnL

script: PATH=$HOME/gopath/bin:$PATH ginkgo -r --randomizeAllSpecs --failOnPending --skipMeasurements --cover
